.icons a {
  background-color: #010101;
  color: rgb(199, 20, 20);
  padding: 8px 16px;
  border-radius: 0;
}
.icons #one {
  color: white;
  list-style: none;
  text-decoration: none;
}
.form-control {
  color: black;
}
.btn {
  color: black;
  /* font-weight: bold; */
  border: 1px solid black;
}
.btn:hover {
  background-color: #010101;
  border: none;
}

@media screen and (max-width: 600px) {
  .left .links {
    display: none;
    flex-direction: column;
    width: 100%;
  }
  .left .links.show {
    display: flex;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .icons {
    flex-direction: column;
  }

  .icons a {
    margin: 5px 0;
    display: none;
  }

  .icons i.fa-cart-shopping,
  .icons i.fa-user {
    display: none;
  }

  .form-inline.hide-on-mobile {
    display: none;
  }
}

/* For larger screens */
@media screen and (min-width: 601px) {
  .menu-icon {
    display: none;
  }
  .left .links {
    display: flex;
  }
}


.left {
  display: flex;
  align-items: center;
}

.logo h2 {
  margin-right: 20px;
}

.links a {
  margin-right: 20px;
}

.icons {
  display: flex;
  align-items: center;
}

.icons a {
  background-color: #010101;
  color: rgb(199, 20, 20);
  padding: 8px 16px;
  border-radius: 0;
}

.icons #one {
  color: white;
  list-style: none;
  text-decoration: none;
}











/* ---------------------------------------------- */

nav{
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 1000;
}
 
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search {
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all 0.5s ease-in-out;
  /* background-color: #010101; */
  padding-right: 40px;
  color: #010101;
}
.input-search::placeholder {
  color: rgba(41, 40, 40, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search {
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  position: absolute;
  right: 0px;
  color: #010101;
  background-color: transparent;
  pointer-events: painted;
}
.btn-search:focus {
  border: none;
  outline: none;
}
.btn-search:focus ~ .input-search {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid black;
  transition: all 500ms ease-in;
}
.input-search:focus {
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom: 1px solid black;
  transition: all 500ms ease-in;
}

.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.postad-btn {
  color: white;
  background-color: black;
  padding: 15px 20px;
  border-radius: 0;
}

.postad-btn:hover a {
  text-decoration: none;
}

.postad-btn:hover {
  color: #fff !important;
  text-decoration: none;
}



@media (max-width: 600px){
  nav{
    padding: 1rem 1rem;
  }
}